/* General Body Styling */
:root {
    --gradient-start: #283048;
    --gradient-end: #2c3941;

    --gradient-left: linear-gradient(to left, var(--gradient-start), var(--gradient-end));
    --gradient-right: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    --gradient-top: linear-gradient(to top, var(--gradient-start), var(--gradient-end));
    --gradient-bottom: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
}

body {
    display: flex;
    justify-content: center;
}

#content {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;

    height: 100vh;
    gap: 50px;
}

#matches-container {
    display: flex;
    width: 650px;
    gap: 8px;
    align-self: flex-start;
    background: rgb(202, 202, 202);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    justify-content: center;
}

#main {
    display: block;
    justify-content: center;
    align-items: center;
}

.col-md-9 {
    width: max-content;
    background: white;
}

/* Card Styling */
.matchCard {
    display: flex;
    align-items: center;
    width: 600px; /* Wider card for better layout */
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(5, 5, 5, 0.1);
    transition: all 0.3s ease;
    background: white;
    padding-right: 20px; /* Padding around the content */
    padding-left: 0px;
   
}

.matchCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.mapLogo {
    width: 100px; /* Fixed width for the map logo */
    height: 100px; /* Fixed height for the map logo */
    object-fit: cover;
    margin-right: 15px; /* Space between map logo and game stats */
    border-radius: 8px;
}

.gameStats {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date, .gameScore {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.gameScore {
    color: #333; /* Stylish orange for emphasis */
    font-size: 26px;
    font-weight: bold;
}

.playerStats {
    width: 55%;
    display: flex;
    align-items: center;
    gap: 10px; /* Ensures space between elements */
    justify-content: space-between;
}

.agentImg {
    
    width: 50px; /* Smaller fixed width for agent image */
    height: 50px; /* Fixed height to match width */
    object-fit: cover;
    border-radius: 30%; /* Circular image for the agent */
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns text to the left under the agent image */
}

.character {
    font-size: 16px;
    color: #2980b9; /* Soft blue for character name */
    font-weight: bold;
}

.acs {
    font-size: 14px;
    color: #7c8686; /* Grey for the ACS */
}

.stats {
    font-size: 16px;
    color: #2c3e50; /* Darker font color for stats */
    white-space: nowrap; /* Keeps K/D/A on one line */
    width: 150px;
    text-align: center;
}

.card {
    width: 20rem;
    border-radius: 15px;
    overflow: hidden;
    margin: 2.5rem auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-img-top {
    border-radius: 15px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-text {
    padding: 3px 6px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
}

#profileCard {
    position: sticky;
    top: 40px;
    margin-right: 20px;
}

#accountLevel {
    padding: 3px 6px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display:inline-block;
}

.profile-banner {
    background-color: #0a0f0d; /* Dark background for contrast */
    border: 1px solid #0056b3; /* Subtle border color */
    border-radius: 8px; /* Rounded corners for modern look */
}

.text-info {
    color: #17a2b8; /* Bootstrap info color for highlighting text */
}

.text-success {
    color: #28a745; /* Bootstrap success color, can be used to highlight rank */
}



/* Banner styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gradient-right);

    height: 200px; /* Fixed height for the banner */
    padding: 0 20px;
    padding-right: 60px;
    width: 1250px;
    border-radius: 30px;
}

#banner-image {
    height: 90%;
    width: auto;
    border-radius: 10%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    margin-left: 70px;
}

.username {
    margin-left: 10px;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
}

.tag {
    font-size: 20px;
    color: #666;
}

.rank {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rank img {
    height: 80px; /* Size of rank icon */
}

.rank .text {
    text-align: left;
}

.rank .text #name {
    color: white;
    display: block;
    font-size: 25px;
    font-weight: bold;
}
.rank .text #value {
    color: grey;
    display: block;
    font-size: 25px;
}

.rank .text small {
    font-size: 18px;
}

.account-level {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.account-level .level {
    color: grey;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.account-level .value {
    color: #ffffff;
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.graph-container {
    width: 450px;
    height: 60%;
}

#rankGraph {
    width: 100%;
    height: 100%;
}

.rankAndLvl {
    display: flex;
    gap: 75px;
    align-items: center;
}

#filter-form-container {
    width: 300px;
    max-width: 400px;
    padding: 20px;
    background: var(--gradient-bottom);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);height: 1700px;
}

#filter-form-label {
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    color: white;

}

#filter-form {
    width: 100%;
}

.filter-group {
    margin-bottom: 30px;
}

.filter-label {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease-in;
}


.filter-options {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s, max-height 0.3s ease-in-out;
    color: white;
}

.filter-options label {
    display: block;
    margin: 5px 0;
    padding: 3px;
    border-radius: 5px;
    transition: background 0.3s;
}

.filter-options input[type="checkbox"] {
    margin-right: 10px;
}

.filter-options label:hover {
    background: rgba(255, 255, 255, 0.2);
}

.expanded .filter-options {
    max-height: max-content; /* Adjust this value based on your content's actual height */
    opacity: 1;
}

.filter-label:hover .arrow {
    background:rgba(44, 32, 95, 0.5);
}

.arrow {
    transition: all 0.3s ease-in-out;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50%;
}

.expanded .arrow {
    transform: rotate(-180deg);
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: background 0.3s, box-shadow 0.3s;
}
button[type="submit"]:hover {
    background: #0056b3;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}